
@{
    ViewBag.Title = "Goods";
}

<h2>Goods</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center">Id</th>
            <th style="text-align:center">Good</th>
            <th style="text-align:center">Category</th>
            <th style="text-align:center">Manufacturer</th>
            <th style="text-align:center">Price</th>
            <th style="text-align:center">Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var g in ViewBag.Goods)
        {
            <tr>
                <td>@g.GoodId</td>
                <td>@g.GoodName</td>
                <td>@g.CategoryName</td>
                <td>@g.ManufacturerName</td>
                <td>@g.Price</td>
                <td>@g.GoodCount</td>
            </tr>
        }
    </tbody>
</table>

<!--
<button class="btn-warning btn-lg">
    <a href="/Shop/" style="text-decoration:none; color:white">
        Go to home
    </a>
</button>
-->
