
@{
    ViewBag.Title = "Goods";
}

<h2>Goods</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center">Id</th>
            <th style="text-align:center">Good</th>
            <th style="text-align:center">Category</th>
            <th style="text-align:center">Manufacturer</th>
            <th style="text-align:center">Price</th>
            <th style="text-align:center">Count</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var g in ViewBag.Goods)
        {
            <tr>
                <td>@g.GoodId</td>
                <td>@g.GoodName</td>
                <td>@g.CategoryName</td>
                <td>@g.ManufacturerName</td>
                <td>@g.Price</td>
                <td>@g.GoodCount</td>
                <td style="text-align:center">
                    @Html.ActionLink("Delete", "DeleteGoods", new {@id = g.GoodId}, new {@class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="paging" style="text-align:right;">
    @for (int i = 0; i < ViewBag.PageCount; i++)
    {
        @Html.ActionLink($"{i + 1}", "Goods", new {@id = i + 1 }, new {@class = "btn btn-outline-secondary", @style="margin-right:5px;"})
    }
</div>

